{{#if playing}}
  {{#if winner}}
    <div class= "wonGame">
      The {{winner}}'s win!
    </div>
  {{/if}}
  {{#if draw}}
    <div class="drawGame">  Its a draw! </div>
  {{/if}}
  <button {{action "start"}}> Restart</button>
{{else}}
  <button {{action "start"}}>Start</button>
{{/if}}
{{!-- Sets the canvas with those associated withthe boundaries of a mobile device --}}
<canvas id="stage" width="430px" height="400px" display="block"></canvas>
