/* Cascading Stylesheet used for the styling of the project */
/* Contains Generic Styles of different html elements through out the application */
body {
    margin: 0;
    overflow: hidden;
    font-size: 12pt;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}
a {
    color: #ffffff;
}
/* Fixed layout for the application */
#app {
    width: 450px;
    min-width: 400px;
    background: #ef3c42;
    border: 2px solid #ef3c42;
}
/* Header styling */
.logo {
    background: #ef3c42;
    margin-left: 50px;
}
.wonGame{
    background-color: white;
    border-radius: 10px;
    font-family: arial;
    text-align: center;
    font-weight: bold;
    font-color: blue;
}
.drawGame{
  background-color: white;
  border-radius: 10px;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  font-color: blue;
}
button {
    font-family: fantasy;
    font-size: 20px;
    background-color: gold;
    border-radius: 80px;
    margin-left: 200px;
    margin-top: 10px;
    max-width: auto;
}
/* Main game area styling */
article {
    width:450px;
    max-width: 450px;
    overflow: hidden;
    background-color: royalBlue;
    margin: none;
    border-radius: 20px;
}
/* Footer styling */
footer {
    background: #ef3c42;
    color: gold;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer:after {
    content: ' ';
    display: table;
    clear: both;
}
