<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Webapp</title>
    <meta name="description" content="Mobile Application Platform">
    <!-- viewport for responsiveness for moble devcices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}
<!-- Linking cascading stylesheets for the ptoject -->
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/webapp.css">

    {{content-for "head-footer"}}
  </head>
  <body>
    {{content-for "body"}}
<!-- JavaScript files -->
    <script src="assets/vendor.js"></script>
    <script src="assets/webapp.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>