<section id="app">
    {{!-- Ambers version of HTML for the project. This will link to carious components of the application, primarily to speed up load times. --}}
  <header>

    <div class="logo">
      <img src="/connect4.png" width="80%" position= "center" alt="Logo">
    </div>

  </header>

  <article>

    {{!-- Outlet tags are used to display things mainly for faster response times. Outlet files are stored else where n the program, and are selected on load
    reducing page load times and page hits --}}

    {{outlet}}

  </article>

  <footer>

    <div class="float-left">

      Powered by Ember

    </div>

    <div class="float-right">

      Joseph Percival CW2-CIS3158

    </div>

  </footer>

</section>